.nav-item{
    margin-left: 50px !important;
    color: rgb(9, 9, 9) !important;
    font-size: 25px !important;
    font-weight: bold;
}
.btn1  {
    margin-right: 20px !important;
    margin-left: 40px !important;
    margin-top: 10px;
    height: 40px !important;
    min-width: 20px !important;
    font-weight: bold;
    font-size: 20px ;
    color:  white;
    border-radius: 10px !important;

}
 .btn2  {
    margin-right: 20px !important;
    height: 40px !important;
    font-weight: bold;
    font-size: 20px ;
    margin-top: 10px;
    border-radius: 10px !important;
    color:  white;

}
 .btn3  {
    margin-right: 20px !important;
    height: 40px !important;
    font-weight: bold;
    font-size: 20px ;
    margin-top: 10px;
    border-radius: 10px !important;
    color:  white;


}


 .navbar{
    background-color: rgb(239, 195, 18) !important;
}