.cardbtn1{

  margin-left: 130px !important;
}
.cardbtn12{
    margin-left: 120px !important;
}
.cardimg1{
    
    border-radius: 100% !important;
   
}
.cardtitle12{
    margin-left: 680px !important;
    margin-top: 50px !important;
    width: 370px !important;
}
